html body {
    font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

.attribution {
  font-size: 60%;
  padding: 8px;
  text-align: center;
}

body .sidebar, body #content {
  top: 0px;
}

#header {
  display: none;
}

.src-link {
    background: none;
    border: none;
}

body .src-link a {
    background: none;
    border: none;
    font-size: 95%;
    text-transform: capitalize;
    color: #0096cc;
    text-align: right;
    display: block;
}

.namespace-docs > .anchor {
    margin-top: 0;
}

body h1, body h2, body h3, body h4 {
    font-family: Lato;
    font-weight: normal;
}

body .markdown pre, body .markdown pre > code, body pre.deps {
    background: none;
    border: none;
    font-size: inherit;
}

body .markdown code:not(.hljs) {
    margin: 0;
    background: none;
}

.project-name {
    text-transform: lowercase;
}


body .sidebar.primary, body .sidebar.secondary {
    background: none;
    border: none;
}

body .namespace-docs h3, body .namespace a, body code, body pre {
    font-family: "Droid Sans Mono", monospace;
}

.doc {
    margin-bottom: 0px;
}

body .public {
    border: none;
}


body a, body a span {
    color: #0096cc;
    text-decoration: none;
}

body .sidebar.secondary li.current a {
    border-color: #0096cc;
}

.github img {
    width: 160px;
    opacity: 0.5;
}
