try {
    require("source-map-support").install();
} catch(err) {
}
require("./{{output-dir}}/goog/bootstrap/nodejs.js");
require("./{{output-to}}");

{{#module}}
goog.require("{{name}}");

{{#function}}
handler.{{underscores}} = {{dots}};
{{/function}}
{{/module}}