{{#source-map}}
try {
    require("source-map-support").install();
} catch(err) {
}
{{/source-map}}

{{#env}}
process.env.{{key}} = "{{value}}";
{{/#env}}

require("./{{output-dir}}/goog/bootstrap/nodejs.js");

// It's not clear why this is necessary
goog.global.CLOSURE_UNCOMPILED_DEFINES = {"cljs.core._STAR_target_STAR_":"nodejs"};

require("./{{output-to}}");

{{#module}}
goog.require("{{name}}");

{{#function}}
exports.{{export}} = {{js-name}};
{{/function}}
{{/module}}
