{{#source-map}}
try {
    require("source-map-support").install();
} catch(err) {
}
{{/source-map}}
require("./{{output-dir}}/goog/bootstrap/nodejs.js");
require("./{{output-to}}");

function getCljsFunction(fname) {
    return eval(fname.replace(/-/g, "_").replace(/\//g, "."));
}

{{#module}}
goog.require("{{mangled}}");

{{#function}}
exports.{{mangled}} = getCljsFunction("{{name}}");
{{/function}}
{{/module}}
